.form-container {
  position: fixed;
  width:70%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #c7dbde;
  border: 1px solid #9cbfe7;
  border-radius: 4px;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}


.success{
  position:fixed;
  width:50%;
  margin-left: 50px;
  margin-top:20px;
  padding: 20px;
  background-color: #c7dbde;
  border: 1px solid #9cbfe7;
  border-radius: 4px;
}